<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/tiny_mce/tiny_mce.js"></script>
    <script>
        tinyMCE.init({
            'mode':'textareas',
            'width':800,
            'height':600,
        })
    </script>
    <title>富文本编辑</title>
</head>
<body>
<form action="{% url 'App01:edit' %}" method="post">
    {% csrf_token %}
    <textarea name="content" id="content" cols="30" rows="10"></textarea> <br>
    <input type="submit">
</form>
</body>
</html>